<header>
	<h1><%= @title || "Book List" %></h1>
	<div class="header_sub">
		<%= new_book_modal %>
		<!-- <%= link_to 'Add Book', new_book_path  %>  -->
	</div>
</header>

<div class="container">
	<%= form_tag(search_path, :method => "get") do %>
	  <%= label_tag(:q, "Search for:") %>
	  <%= text_field_tag(:q) %>
	  <%= submit_tag("Search") %>
	<% end %>


	<% if flash[:notice] %>
	<div class="alert alert-success" role="alert" id="notice">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= flash[:notice] %>
	</div>
	<% end %>

	<% if @books.present? %>

	<% @books.each do |book| %>

	<div class="media">
		<div class="media-left media-middle">
			<%= image_tag book.image ,class: "img-thumbnail facebook"  %>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><%= link_to book.title, book %></h4>
			<%= book.description %>
			Pages: <%= book.pages %>
		</div>
		<div class="pull-right">
			<%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %> | 
			<%= link_to "Edit", edit_book_path(book)  %> 
		</div>
	</div>
	

	<% end %>

	<% else %>
	<p>No content</p>
	<% end %>


</div>



