<div class="container">
	<h1><%= @title || "Book List" %></h1>
	<%= new_book_modal %>
	<!-- <%= link_to 'Add Book', new_book_path  %> -->
	<hr>
	
	<% if flash[:notice] %>
	<div class="alert alert-success" role="alert" id="notice">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= flash[:notice] %>
	</div>
	<% end %>

	<%= good_books %>
	
	<div class="list-group">
		<% if @books.present? %>
		<ul>
			<% @books.each do |book| %>

			<div class="col-xs-2">
				<%= image_tag("https://s3.amazonaws.com/titlepages.leanpub.com/tr4w/hero?1421968559", class: 'img-thumbnail' ) %>
			</div>

			<div class="col-xs-10 book_list">
				<li class="list-group-item"><h4><%= link_to book.title, book %></h4></li>
				<li class="list-group-item"><%= book.description %></li>
				<li class="list-group-item">
					Pages: <%= book.pages %>
					<div class="pull-right">
						<%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' } %> | 
						<%= link_to "Edit", edit_book_path(book)  %> 
					</div>
				</li>
			</div>


			<% end %>

			<% else %>
			<p>No content</p>
			<% end %>
		</ul>
	</div>
</div>

