<div class="container">
	<h1>Detail View </h1>
	<hr>
	
	<% if flash[:notice] %>
	<div class="alert alert-success" role="alert" id="notice">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<%= flash[:notice] %>
	</div>
	<% end %>
	
	<div class="list-group">
		<ul>
			<li class="list-group-item"><h4><%= @book.title %></h4></li>
			<li class="list-group-item"><%= @book.description %></li>
			<li class="list-group-item">Pages: <%= @book.pages%></li>
		</ul>	
	</div>
	<%= link_to "Back", books_path  %>
</div>
